body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  background-color: rgba(19, 19, 44, 0.732);
}

select,
input {
  color: #333;
}
